/* Define TankTrouble font */
@font-face {
    font-family: 'TankTrouble';
    src: url('fonts/TankTrouble.ttf') format('truetype');
}

/* Apply TankTrouble font to elements with .tank-trouble-font class */
.tank-trouble-font {
    font-family: 'TankTrouble', sans-serif;
}

/* Define Atkinson font */
@font-face {
    font-family: 'Atkinson';
    src: url('fonts/Atkinson-Hyperlegible.ttf') format('truetype');
}

/* Apply Atkinson font to elements with .atkinson-font class */
.atkinson-font {
    font-family: 'Atkinson', sans-serif;
}

/* Define TankTroubleClassic font */
@font-face {
    font-family: 'TankTroubleClassic';
    src: url('fonts/Classic_TankTrouble_font.ttf') format('truetype');
}

/* Apply TankTroubleClassic font to elements with .tank-trouble-classic-font class */
.tank-trouble-classic-font {
    font-family: 'TankTroubleClassic', sans-serif;
}

