@font-face {
    font-family: 'ClassicTankTrouble';
    src:  url('ttcv2/fonts/Classic_TankTrouble_font.ttf') format('truetype');
}
::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-button {
    background-color: #353535;
    height: 0;
    width: 0;
    border-radius: 5px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

::-webkit-scrollbar-track {
    background-color: #646464
}

::-webkit-scrollbar-track-piece {
    background-color: #353535
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #5a5a5a;
    border-radius: 2px;
    -webkit-transition: 1s;
    transition: 1s
}

::-webkit-scrollbar-thumb:hover {
    background-color: #707070
}

::-webkit-scrollbar-button:vertical:decrement {
    border-radius: 0;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

::-webkit-scrollbar-button:vertical:decrement:hover {
    background-color: #626262
}

::-webkit-scrollbar-button:vertical:increment {
    border-radius: 0;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

::-webkit-scrollbar-button:vertical:increment:hover {
    background-color: #626262
}

::-webkit-scrollbar-corner {
    background-color: #646464
}

::-webkit-resizer {
    background-color: #666
}

#game {
    position: relative;
    left: -15px;
    top: 0px;
}
#secondaryContent {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 130px;
}
#tertiaryContent {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    width: 130px;
}
#red_infiltration {
    position: absolute;
    top: 110px;
    right: -135px;
}
    .premium #header {
        background-image: url(../assets/images/header/background.png);
        background-size: 120px 120px;
}
    .snippet {
    background: #fff;
    border: #ccc 3px solid;
    border-radius: 5px;
    box-shadow: none;
}
    .snippet .header {
    background: #ccc;
    color: #fff;
    border-radius: 3px;
    border: #ccc 2px solid;
    margin-bottom: 5px;
}
    .snippet .content {
       margin: 3px 3px 3px 3px;
       font-family: 'ClassicTankTrouble';
    }
    #scrapyardSnippet .content {
        margin-left: 4px;
        margin-right: 4px;
    }
#scrapyardSnippet {
    width: 133px;
    padding: 3px;
    border: #000 3px solid;
}
    #scrapyardSnippet .header {
    background: none;
    border: none;
}
#wallOfFameSnippet {
    background: #000;
    cursor: pointer;
    box-sizing: border-box;
    padding: 4px;
    border: none;
    width: 135px;
}
#appStoreSnippet {
    cursor: pointer;
    border: none;
    background: none;
    width: 135px;
}
#messagesSnippet {
    cursor: pointer;
    border: 3px #ccc solid;
}
div#messagesSnippet .header {
    text-shadow: none;
    border: 2px #ccc solid;
    background: #ccc;
}
    .shopItem svg text {
       text-shadow: none;
       stroke: none;
    }
.shopItem {
    background: #555;
    border-radius: 3px;
    border: #666 3px solid;
    box-shadow: #000 0 3px 5px 0;
    border-radius: 7px;
}
div#shopItem-120 {
    background: #ebc934;
    border: 3px #d3a310 solid;
}
div#shopItem-122 {
    background: #1ab14d;
    border: 3px #2a873b solid;
}
    .shopItem.info button.info {
    width: 34px;
    float: right;
    right: 10px;
    color: white;
    background: #0097fb;
    }
    div#teaser-25 {
    background: red;
    color: white;
    border: 3px red solid;
    }
    #teaser-25 .header {
    background: none;
    border: none;
    text-shadow: none;
    }
    #teaser-25 .mode {
        color: white;
    }
    .forum .bubble {
        background-color: #f2f2f2;
        border: #333 2px solid;
        border-radius: 2px;
        box-shadow: 0 3px 4px 0 rgba(0,0,0, .5);
	    font-family: 'ClassicTankTrouble';
    }
    .forum .bubble * {
        position: relative;
    }
    .forum .bubble .header {
        font-size: 1.0em;
        font-weight: 100;
        font-family: 'system-ui';
    }
    .forum .bubble .content {
	font-family: 'ClassicTankTrouble';
        font-size: 14.3px;
    }
    .forum .page img {
        display: none;
        position: relative;
        padding: 0px;
    }
    .body {
        font-size: 14px;
    }
    .forum .tank {
        font-family: 'TankTrouble';
        font-size: 14px;
    }
    .forum .tank div {
    width: 150px;
    height: 20px;
    left: -5px;
    top: -19px;
    position: relative;
    }
    .forum .thread:not(.liked) .like:not(:active) .standard, .forum .thread:not(.liked) .like:active :not(.selected).active, .forum .thread.liked .like:not(:active) .selected:not(.active), .forum .thread.liked .like:active .selected.active, .forum .reply:not(.liked) .like:not(:active) .standard, .forum .reply:not(.liked) .like:active :not(.selected).active, .forum .reply.liked .like:not(:active) .selected:not(.active), .forum .reply.liked .like:active .selected.active, .forum .edit:not(:active) .standard, .forum .edit:active .active, .forum .acceptEdit:not(:active) .standard, .forum .acceptEdit:active .active, .forum .cancelEdit:not(:active) .standard, .forum .cancelEdit:active .active {
    display: inherit;
    padding: 0;
    }
 .forum .editing textarea {
    background: transparent;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
    resize: none;
    outline: none;
    width: 100%;
    font-family: ClassicTankTrouble;
    }
    .forum .synchronization {
        font-size: .8em;
        margin-top: 10px;
        text-align: center;
        font-family: 'TankTrouble';
    }
    .forum .bubble .header {
        font-size: 1.4em;
        font-weight: bold;
        font-family: 'ClassicTankTrouble' !important;
    }
   .box .content {
    background: #d5d5d5;
    border-radius: 5px;
    border: #999 3px solid;
    padding: 5px;
    width: 250px;
}
   .box .spaced {
    padding: 5px;
    left: 0px;
    border: none;
    background: none;
    box-shadow: none;
    }
    #overlay {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: rgb(255 255 255 / 99%)
    }
#overlay .newGame .premium {
    display: inline-block;
    border: 3px solid gray;
    border-radius: 8px;
    position: relative;
    padding: 40px 40px 30px;
    margin: 80px 20px 20px;
    box-shadow: 0px 10px 20px #000;
}
button.large {
    padding: 0 20px 0 20px;
    font-size: 2.0em;
    min-width: 52px;
    line-height: 52px;
    background: #58c96f;
    color: #fff;
    border-radius: 0px;
    border: 3px #000 solid;
}
button.medium {
    padding: 0 10px 0 10px;
    font-size: 1.2em;
    min-width: 34px;
    line-height: 34px;
    background: #ccc url(https://code.jquery.com/ui/1.11.4/themes/smoothness/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    color: #000
}
button.warning {
    background: linear-gradient(to bottom, red, maroon);
    border: none;
    color: #fff;
}
button:disabled {
    background: #999 url(https://code.jquery.com/ui/1.11.4/themes/smoothness/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;;
    cursor: default;
    color: #8b8b8b;
}
.buttonGroup div.selected button {
    text-shadow: 0 0 4px #ffffff, 0 0 4px #fff700, 0 0 5px #ffda00, 0 0 10px #ffe237;
}
   #overlay .newGame .premium::before {
    content: "";
    width: 160px;
    height: 180px;
    position: absolute;
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(https://cdn.tanktrouble.com/RELEASE-2023-09-06-01/assets/images/tankInfo/accountActive@2x.png);
    background-size: 160px 180px;
}
    #overlay .messages .message {
        background: #1ad72a;
        color: #fff;
        border-radius: 2px;
        text-shadow: none;
    }
    #overlay .messages .message.important {
        background: #e01f1f;
        color: #fff;
        border-radius: 2px;
        text-shadow: none;
     }
     #overlay .admin .attention {
        text-shadow: none;
     }
    #overlay .messages textarea {
        box-sizing: border-box;
        width: 490px;
    }
    #overlay .subheadline {
        font-size: 20px;
        font-family: 'ClassicTanktrouble';
    }
    .box .tab.right {
        background: #999;
    }
    .box .tab.left {
        background: #999;
    }
   #tankinfo .username {
    position: relative;
    z-index: 1;
    height: 28px;
    background: #979797;
    border: 3px #0000002e solid;
    border-radius: 4px;
}
   #tankinfo .icon {
    position: absolute;
    width: 320px;
    height: 192px;
    left: calc(50% + 5px);
    top: -162px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
     .achievement.unlockedAndSeen {
        background: linear-gradient(to bottom, #ccc, #666);
        box-shadow: #000 0px 3px 3px 0px;
        text-shadow: none;
        color: #000;
    }
    .achievement {
        background: #666;
        text-shadow: none;
        color: #fff;
    }
    .achievement .progress {
        background: linear-gradient(to bottom, #e5c766, #a68826);
    }
    .note {
        color: #000;
    }
    #overlay input[type="checkbox"]+label::before {
    content: '';
    background: red;
    border: 2px solid #bf0000;
    transition: background .3s;
    border-radius: 5px;
    font-size: 35px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
#overlay input[type="checkbox"]:checked+label::before {
    border-color: #00df4e !important;
    background: limegreen;
}
#content {
    max-width: 1884px !important;
    width: calc(100%) !important;
}
.horizontalAdSlot,
.verticalAdSlot,
#leftBanner,
#rightBanner,
#topBanner {
    display: none !important;
}
.buttonGroup {
    display: inline-block;
    background: #999;
    border-radius: 3px;
    border: #666 2px solid;
    margin-bottom: 10px;
}
#chat {
    -webkit-filter: none;
    filter: none;
    -webkit-transform: translateZ(0);
    position: fixed;
    z-index: 10;
    width: 1px;
    height: 1px;
}
#chat .body {
    width: 242px;
    height: 140px;
    margin-left: 20px;
    margin-top: 0px !important;
    cursor: default;
    background: #00000014;
    padding: 2px 2px 2px 5px;
}
#chat .content {
    font-family: verdana;
    font-size: 10pt;
    width: 0;
    pointer-events: none;
    transition: width .3s .2s;
    background: none;
}
#chat form {
    border-radius: 3px;
    background-color: #dfdfdf;
    pointer-events: auto;
    animation-name: chatsend;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    padding: 2px 2px 2px 2px;
    margin-left: 20px;
    left: 0px;
    border: none;
    width: 245px;
    box-shadow: none;
}
#chat:not(.open) form {
	display: none;
    background: none;
}
#chat.opening .content, #chat.open .content {
    width: 269px;
    transition: width .250s;
}
#chat.opening textarea, #chat.open textarea {
    font-size: 12px;
    width: 235px;
    opacity: 1;
    cursor: inherit;
}
#chat textarea {
    font-family: 'ClassicTankTrouble';
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 1px !important;
    width: 0;
    min-height: 16px !important;
    opacity: 0;
    margin: 0;
    padding: 1px 2px;
    border: none !important;
    outline: none !important;
    overflow-y: hidden;
    resize: none;
    background: none;
    cursor: default;
}
#chat text {
    font-family: 'ClassicTankTrouble';
    font-size: 13px;
}
.box.topRight .tab.topRight {
    display: inherit;
    background: #999;
}
#overlay .controls img.selected {
    padding: 0px;
}
